* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 48, 49);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:aliceblue;

}
/*  HEADER */
.encabezado {
  display: flex;
  padding: 1rem;
  gap:1em;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: white;
  padding: none;
  margin: none;
  font-size: 1.8rem;
  cursor: pointer;
 }

.header_derecho {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

}

.header_derecho img {
  width: 45px;
  height: 30px;
 }

.header_central {
  justify-content: center;
}

input.busqueda {
  display: flex;
  
  align-items: center;
  justify-content: center;
 

  width: 40vw;
  height: 35px;
  padding: 0 0.7rem;
  margin: none;
  min-width: 180px;

  border-radius: 10px;
  border: none;

  background-color: rgb(46, 44, 44);
  color: white;
  box-shadow: 1px 1px 2px color rgb(10, 10, 10);
}

.header_izquierdo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.header_izquierdo p {
  font-size: 600;
}

.imagenes {
  width: 30px;
  height: 30px;
}
.perfil {
  width: 50px;
  height: 45px;
  border-radius: 50%;
}
/* HEADER */

.container{
padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar{
  background-color: rgb(46, 44, 44);
  width: 180px;
  position: fixed;
  top: 80px;
  z-index: 10;
  left:0;
  height: 88vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #09f transparent;
  padding: 1em;
}
.sidebar:hover {
  scrollbar-width: thin;
}
.sidebar:not(hover) {
  scrollbar-width: none;
}

.sidebar_top a {
  display: flex;
  justify-content: start;
  align-items: center;
 text-decoration: none;
 color:aliceblue;
 gap:.5em;
 padding: .8rem;
}
.sidebar_top img{
  width: 20px;
  height: 20px;

}

.sidebar_center a {
  display: flex;
  justify-content: start;
  align-items: center;
 text-decoration: none;
 color:aliceblue;
 gap:.5em;
 padding: .8rem;
}
.sidebar_center img{
  width: 20px;
  height: 20px;

}

.sidebar_bottom a {
  display: flex;
  justify-content: start;
  align-items: center;
 text-decoration: none;
 color:aliceblue;
 gap:.5em;
 padding: .8rem;
}
.sidebar_bottom img{
  width: 30px;
  height: 30px;
border-radius: 50%;
}


.container_two {
  width: 83%;
}

.subheader {
  display: flex;
  white-space: nowrap;
  width: 100%;
  background-color: rgb(48, 48, 49);
  overflow-x: auto;
  margin-top: 70px;
  margin-left: 180px;


}

.subheader::-webkit-scrollbar {
  display: none;
}

.subheader a {
  color:aliceblue;
  text-decoration: none;
  gap: 1rem;
  margin:.5rem;
  padding:.5rem;
  background-color: rgb(54, 54, 59);
  border-radius: 10px;
}

.videos_container {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 15px;
  row-gap: 40px;
  margin-top: 80px;
}


/* VIDEOS */

main{
  margin: 2rem;
  padding: 1rem;
  width: 100%;
  height: auto;


   }

.cajon {
   display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  margin-left: 140px;
    gap:1rem;
    padding:.6rem;
 }
.contenedor_vid {
  margin-top: 20px;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  gap: 1rem;
  background-color: rgb(33, 33, 34);
}
.contenedor_vid:hover {
  background-color: rgb(33, 33, 34);
}

.img_video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.titulo_e_imagen{
display:flex;
flex-wrap: wrap;
}
.tituulo {
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  font-size: 0.2rem;
  margin-left:60px;
}

.miniatura {

  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.3rem;
  padding:.1rem;
  margin:0;
  gap:0;
}

p {
  color: rgb(148, 147, 147);
}



